body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container {
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25), 0 -4px 4px 0 rgba(0,0,0,0.25);
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
}

.nav-back {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.nav-back img {
    height: 100%;
    cursor: pointer;
}

.left-arrow, .right-arrow {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
}

.left-arrow, .right-arrow {
    height: 100%;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.left-arrow img, .right-arrow img {
    width: 100%;
    height: 100%;
}

.image-box {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
}

.images {
    width: 100%;
    height: inherit;
}

.images img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.info-container {
    width: 100%;
}

.info-container-up {
    display: flex;
    justify-content: space-between;
    font-family: 'Comfortaa', cursive;
    padding: 15px 0;
}

.line {
    width: 100%;
    height: 0.5px;
    background: #C7C7C7;
}

.price {
    color: white;
    background-color: #A0BF48;
    border-radius: 20px;
    width: 120px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    padding: 5px 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container-down {
    display: flex;
    justify-content: space-evenly;
}

.box, .description-box {
    padding: 15px;
}

.info-p {
    color: #437F99;
    font-family: 'Comfortaa', cursive;
    padding: 3px 0;
}

.info-container-down h3, .description-box h3 {
    font-family: 'Comfortaa', cursive;
    padding-bottom: 5px;
    color: rgb(61, 61, 61);
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .box {
        font-size: 0.8em;
    }
}