@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Inter:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f5f5f5;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


header {
	display: flex;
	justify-content: flex-end;
	padding-right: 5%;
}

#btn-logout {
	display: none;
}

button {
	margin: 0.8em 0.5em;
	padding: 10px 2em;
	background-color: #437F99;
	border: none;
	color: white;
	font-size: 1.2em;
	border-radius: 30px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	transition: 0.5s;
}

button:hover {
	background: #06BEB6;
	color: white;
}

.btn-white {
	background-color: white;
	border: 1px solid #437F99;
	color: #1F3A46;
}

.btn-white:hover {
	background: #06BEB6;
	color: white;
	border: 1px solid #06BEB6;
}

.moto-text {
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	color: #1F3A46;
	text-align: center;
	font-size: 3.5em;
	margin: 0.5em 0;
}

.moto-text span {
	color: #06BEB6;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 40px;
	justify-items: center;
	align-items: center;
	min-height: 400px;
	margin-bottom: 1em;
}

.card {
	width: 300px;
	min-height: 400px;
	flex: 1;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25), 0 -4px 4px 0 rgba(0,0,0,0.25);
	margin: 0 10px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.7s ease;
}

.card:hover {
	transform: scale(1.02);
}

.card img {
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 0px 0px;
}

.card .description-box {
	font-family: 'Comfortaa', cursive;
	font-size: 0.8em;
	padding: 15px;
}

.card .description-box p {
	padding: 2px 0;
	font-size: 0.9em;
}

.card .description-box hr {
	background-color: #4E4E4E;
	margin: 5px 0;
}

.div-price {
	color: white;
	background-color: #A0BF48;
	border-radius: 20px;
	width: 116px;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	padding: 5px 0;
	float: right;
	margin: 0 10px 10px 0;
	position: relative;
	font-weight: bold;
	align-self: flex-end;
}

@media screen and (max-width: 1400px) {
	.card {
		width: 250px;
	}
}

@media screen and (max-width: 1200px) {
	header {
		justify-content: center;
		padding-right: 0;
	}

	.cards {
		grid-template-columns: 1fr 1fr;
	}

	.card {
		width: 350px;
	}
}

@media screen and (max-width: 800px) {
	button {
		margin: 0.8em 0.5em;
		padding: 10px 1em;
	}

	.moto-text {
		font-size: 3em;
		margin: 1em 0;
	}

	.cards {
		grid-template-columns: 1fr;
	}

	.card {
		width: 320px;
	}
}

@media screen and (max-width: 550px) {
	.card {
		width: 280px;
	}
}