@{ Layout = "_LayoutEmpty"; ViewBag.Style = "/static/css/styleBrowse.css";}

<div class="main-container">
    <div class="sidebar">
            <div class="sidebar-logo">
                <img src="~/Static/pics/logo.svg" alt="">
            </div>

            <div class="sidebar-search-form">
                <form>
                    <input type="text" placeholder="Proizvođač">
                    <input type="text" placeholder="Model">

                    <div class="flex">
                        <input type="text" placeholder="Cena od: ">
                        <input type="text" placeholder="Cena do: ">
                    </div>

                    <div class="flex">
                        <input type="text" placeholder="Godište od: ">
                        <input type="text" placeholder="Godište do: ">
                    </div>

                    <div class="btn-submit">Potvrdi</div>
                </form>
            </div>

            <div class="sidebar-bottom">
                <p>Imaš nalog? </p>
                <a asp-page="/Login">Uloguj se</a>
            </div>
	</div>
	<div class="content">
		@RenderBody()
	</div>
</div>
