@page
@model BrowseModel
@{ Layout = "_LayoutEmpty"; ViewBag.Title = "Katalog"; ViewBag.Style = "/static/css/styleBrowse.css"; }

<div class="main-container">
	<div class="sidebar">
		<div class="sidebar-logo">
			<img src="/static/pics/logo.svg" alt="">
		</div>

		<div class="sidebar-search-form">
			<form id="filter-form" onsubmit="event.preventDefault()">
				<input type="text" name="manufacturer" id="manufacturer" placeholder="Proizvođač">
				<input type="text" name="model" id="model" placeholder="Model">

				<div class="flex">
					<input type="text" name="price_start" id="price_start" placeholder="Cena od: ">
					<input type="text" name="price_end" id="price_end" placeholder="Cena do: ">
				</div>

				<div class="flex">
					<input type="text" name="year_start" id="year_start" placeholder="Godiste od: ">
					<input type="text" name="year_end" id="year_end" placeholder="Godiste do: ">
				</div>

				<div class="btn-submit" onclick="refresh_vehicles()">Potvrdi</div>
			</form>
		</div>

		<div class="sidebar-bottom">
			<p>Imaš nalog? </p>
			<a asp-page="/Login">Prijavi se</a>
		</div>
	</div>
	<div class="content">
		<div class="row">
			<div></div>
			<div id="vehicles" class="cards"></div>
		</div>
	</div>
</div>

<script>
	generate_links()

	logged_in(() => {
		$('.sidebar-bottom').style.display = 'none'
	})

	browse_vehicles()
</script>