@page
@model WebApplication.Pages.BrowseModel
@{
}

<!DOCTYPE html>
<html>
<head>
	<title>Browse Page</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="~/static/css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="wrap">
		<div class="cards">
			<div class="card-wrap">
				<div class="card">
					<div class="image-box">
						<img src="https://automobiles.honda.com/-/media/Honda-Automobiles/Vehicles/2021/Civic-Type-R/Feature-Blades/Exterior-Interior/Overview/MY21CivicTypeRExtInt00Overview14002x.jpg" alt="">
					</div>
					<div class="description-box">
						<h1>Toyota Supra</h1>
						<hr>
						<p>1994</p>
						<p>192.135km</p>
						<p>1.8 140ks</p>
						<p>limuzina</p>
						<p>2/3 vrata</p>
					</div>
					<div class="div-price">11.000e</div>
				</div>
				<div class="card">
					<div class="image-box">
						<img src="https://automobiles.honda.com/-/media/Honda-Automobiles/Vehicles/2021/Civic-Type-R/Feature-Blades/Exterior-Interior/Overview/MY21CivicTypeRExtInt00Overview14002x.jpg" alt="">
					</div>
					<div class="description-box">
						<h1>Toyota Supra</h1>
						<hr>
						<p>1994</p>
						<p>192.135km</p>
						<p>1.8 140ks</p>
						<p>limuzina</p>
						<p>2/3 vrata</p>
					</div>
					<div class="div-price">11.000e</div>
				</div>
				<div class="card">
					<div class="image-box">
						<img src="https://automobiles.honda.com/-/media/Honda-Automobiles/Vehicles/2021/Civic-Type-R/Feature-Blades/Exterior-Interior/Overview/MY21CivicTypeRExtInt00Overview14002x.jpg" alt="">
					</div>
					<div class="description-box">
						<h1>Toyota Supra</h1>
						<hr>
						<p>1994</p>
						<p>192.135km</p>
						<p>1.8 140ks</p>
						<p>limuzina</p>
						<p>2/3 vrata</p>
					</div>
					<div class="div-price">11.000e</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>