@page
@model LoginModel
@{ Layout = "_LayoutEmpty"; ViewBag.Title = "Prijavi se"; ViewBag.Style = "/static/css/styleLoginRegister.css"; }

<div class="container">

    <div class="left">
        <img src="/static/pics/logo.svg" alt="">
        <h1>Pronađi pravi auto za sebe, <span>KOD NAS</span>!</h1>
    </div>
    
	<div class="right">
		<h2>Prijavi se</h2>

		<form id="login-form" onsubmit="event.preventDefault()">
			<label for="email">E-mail:</label>
			<input type="email" name="email" id="email" required autofocus>

			<label for="password">Šifra:</label>
			<input type="password" name="password" id="password" required>

			<label id="result-message"></label>
		</form>

		<div class="right-bottom">
			<input type="submit" class="btn" onclick="login()" form="login-form" value="Prijavi se"/>
			<div class="info-wrap">
				<p>Nemaš nalog?</p>
				<a asp-page="/Register">Registruj se</a>
			</div>
		</div>
	</div>

</div>