@page
@model LoginModel
@{ Layout = "_LayoutEmpty"; ViewBag.Title = "Prijavi se"; ViewBag.Style = "/static/css/styleLogin.css"; }

<div class="container">

    <div class="left">
        <img src="/static/pics/logo.svg" alt="">
        <h1>Pronađi pravi auto za sebe, <span>KOD NAS</span>!</h1>
    </div>
    
	<div class="right">
		<h2>Dobrodosli nazad!</h2>

		<form id="login-form">
			<label for="email">E-mail:</label>
			<input type="email" name="email" id="email">

			<label for="password">Šifra:</label>
			<input type="password" name="password" id="password">

			<label id="result-message"></label>
		</form>

		<div class="right-bottom">
			<a class="btn-login" onclick="login()">Prijavi se</a>
			<div class="info-wrap">
				<p>Nemaš nalog?</p>
				<a asp-page="/Register">Registruj se</a>
			</div>
		</div>
	</div>

</div>