@page
@model LoginModel
@{ Layout = "_LayoutEmpty"; ViewBag.Title = "Registruj se"; ViewBag.Style = "/static/css/styleRegister.css"; }

<div class="container">

	<div class="left">
		<img src="~/Static/pics/logo.svg" alt="">
		<h1>Pronađi pravi auto za sebe, <span>KOD NAS</span>!</h1>
	</div>

	<div class="right">
		<h2>Dobrodosli!</h2>

		<form>
			<label>E-mail:</label>
			<input type="text">
			<label>Šifra:</label>
			<input type="text">
			<label>Potvrdi šifra:</label>
			<input type="text">
		</form>

		<div class="right-bottom">
			<a class="btn-login">Registruj se</a>
			<div class="info-wrap">
				<p>Imaš nalog?</p>
				<a asp-page="/Login">Prijavi se</a>
			</div>
		</div>
	</div>

</div>